/* Resets */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    color: black;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Universal styles */

.fixed_width {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.half_width {
    width: 50%;
}
.one_third_width {
    max-width: 40%;
    width: 100%;
}
.two_third_width {
    max-width: 60%;
    width: 100%;
}
.primary_color {
    color: #00a341;
}
.submit_btn,
.primary_btn a {
    padding: 15px 30px!important;
    background-color: #00a341!important;
    border-radius: 6px;
    color: white;
    transition: all ease 0.3s;
    cursor: pointer;
    border: none;
}
.submit_btn:hover,
.primary_btn a:hover {
    background-color: #007a31!important;
}
.secondary_btn a {
    padding: 15px 30px!important;
    background-color: white!important;
    border-radius: 6px;
    color: #00a341!important;
    transition: all ease 0.3s;
    font-weight: 600;
    font-size: 1rem;
    border: solid 1px white;
}
.secondary_btn a:hover {
    color: white!important;
    background-color: #007a31!important;
}
.section_heading,
.section_heading_alt {
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
    margin: 0px 0px 50px;
}
.section_heading_alt {
    font-size: 1.3rem;
    color: rgb(27, 27, 27);
    margin: 0px;
}
.section_content {
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
.column_container,
.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.column {
    max-width: 50%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/* Header section styles */

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px -20px 30px 0px black;
    position: sticky;
    top: 0px;
    z-index: 10;
}
header .fixed_width {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 2.5rem;
}
.header_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header_nav li {
    list-style: none;
}
.header_nav a {
    padding: 8px 20px;
    background-color: transparent;
    border-radius: 6px;
    transition: all ease 0.3s;
    font-weight: 600;
    font-size: 1rem;
}
.header_nav a:hover {
    background-color: #f5f5f5;
}
.header_nav .primary_btn a:hover {
    background-color: transparent;
}

/* Main section styles */

.main_section {
    background: linear-gradient(to left, white 30%, transparent 60%), url("../images/banner/banner2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right;
}
.main_section,
.main_section .fixed_width {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main_section .fixed_width {
    height: unset;
    justify-content: flex-end;
}
.main_section .half_width {
    width: 45%;
}
.main_section .half_width h1 {
    margin-bottom: 20px;
}
.main_section .half_width p {
    margin-bottom: 40px;
}
.main_section h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
}
.main_section a {
    font-weight: 600;
    font-size: 1rem;
}

/* Failure Section style */

.failure_section {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.failure_section .image_container {
    position: relative;
}
.failure_section .image_container img {
    width: 350px;
    height: auto;
    margin: auto;
}
.failure_section .shadow {
    position: absolute;
    height: 390px;
    width: 390px;
    border-radius: 50%;
    background-color: #ffe4da;
    z-index: -1;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}
.failure_section .shadow2 {
    top: 0px;
    left: 50px;
    height: 100px;
    width: 100px;
    background-color: #ffebe4;
}
.failure_section .shadow3 {
    bottom: 100px;
    left: unset;
    right: 0px;
    height: 60px;
    width: 60px;
    background-color: #ffe5db;
}
.failure_section .text_container > * {
    margin: auto 150px auto 50px;
}
.failure_section .section_heading {
    text-align: left;
}
.failure_section li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 15px;
    margin: 0px 0px 5px 0px;

}
.check_mark {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url(../images/icons/checkmark.png);
    background-size: contain;
    background-position :center center;
    background-repeat: no-repeat;
}

/* My Plans Section styles */

.plan_section {
    padding: 50px 0px 100px;
}
.plan_section .column {
    align-items: center;
    gap: 5px;
}

.plan_section .column img {
    /* height: 100px;
    width: 100px; */
    object-fit: contain;
    margin-bottom: 50px;
}
.block {
    box-shadow: 2px 2px 8px 1px rgb(221, 221, 221);
    background: linear-gradient(rgb(255 255 255 / 94%), rgb(255 255 255 / 94%)), url("../images/block_bg.png");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    border-radius: 6px;
}

/* Call me Section styles */

.call_section {
    padding: 0px 0px 80px;
}
.call_section .fixed_width {
    background-image:  linear-gradient(45deg, rgb(31, 126, 250) 15%, transparent 80%), url("../images/watch.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px;
    border-radius: 8px;
    position: relative;
}
.call_section .shadow {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(40%, -40%);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #b5d5ff;
    z-index: -1;
}
.call_section .half_width {
    margin: 60px;
    width: 40%;
}
.call_section .section_heading {
    text-align: left;
    color: white;
    margin: 0px 0px 50px;
}

/* Footer Section styles */

footer {
    background-color: #151414;
    padding: 100px 0px;
}
footer .fixed_width {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
footer .section_heading {
    text-align: left;
    color: white;
    margin: 0px 0px 30px;
}
footer .section_content {
    color: white;
    margin: 0px 0px 20px;
}
footer .two_third_width .section_content {
    margin: 0px 100px 20px 0px;
}
footer .two_third_width .address {
    margin: 0px 0px 5px;
}
footer .social_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 50px 0px 0px;
}
footer li {
    list-style: none;
}
footer li img {
    cursor: pointer;
    border-radius: 50%;
}
footer fieldset {
    border: none;
}
footer label {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer input,
footer textarea {
    width: 350px;
    height: 20px;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: black;
}
footer textarea {
    height: 80px;
}
footer input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px 10px 15px 0px;
}
footer select {
    padding: 10px 0px 10px 20px;
    font-size: 1rem;
    color: rgb(102, 102, 102);
    border-radius: 4px;
    margin: 0px 0px 5px;
}
footer input[type="submit"] {
    height: unset;
    width: 150px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}